body {
  font-family: tahoma;
  color: #282828;
  margin: 0px;
}

.header {
  background: linear-gradient(-90deg, #6a8dcf, #94999e);

  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: x-large;

  grid-area: header;
}

.chart {
  grid-area: chart;
  overflow: hidden;
  padding: 10px;
}

html,
body,
#chartPresenter {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sensors-table {
  overflow: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

table {
  border: medium solid black;
  border-collapse: collapse;
}

th {
  border: thin solid black;
  padding: 5px;
  background-color: #94999e;
}

td {
  font-family: sans-serif;
  border: thin solid black;
  width: 50%;
  padding: 5px;
  text-align: center;
  background-color: #ffffff;
}

caption {
  font-family: sans-serif;
}

.sensors-list {
  grid-area: sensors;
  padding-bottom: 20px;
}

.date-selection {
  grid-area: date;
  margin: 10px;
}

.yAxe-list {
  grid-area: yAxes;
  overflow: auto;
}

.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: 2em 70% 20%;
  grid-template-areas:
    "header header header"
    "chart chart chart"
    "sensors yAxes date";
}

.item {
  justify-self: stretch;
}