body {
    font-family: tahoma;
    color: #282828;
    margin: 0px;
}

.header {
    background: linear-gradient(-90deg, #6a8dcf, #94999e);
   
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;

    grid-area: header;
}

.chart{
    grid-area: chart;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


html,body {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

.sensor-list{
    grid-area: sensors;
    overflow: auto;
}
.date-selection{
    grid-area: date;
    margin: 10px;
}

.date-selection label{
    width: 100px;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto 600px auto;
    grid-template-areas: 
    "header header"
    "chart chart"
    "sensors date";
  }


  .item {
    justify-self: stretch;
  }